name: Crystal CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: crystallang/crystal:1.18.2-alpine

    steps:
    - name: Download source
      uses: actions/checkout@v4
    - name: Install build dependencies
      run: apk add libsodium-static
    - name: Install dependencies
      run: shards install
    - name: Run tests
      run: crystal spec
